*{
  
}
.outerDiv{
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDiv{
  height: 80vh;
  width: 30vw;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topDiv{
  height: 37%;
  width: 100%;
  /* background-color: red; */
}

.inputs{
  /* display: flex; */
}

.width{
  width: 80%!important;
}

.bottomDiv{
  height: 50%;
  width: 100%;
  /* background-color: blue; */
}

.header{
  height: 45px;
  width: 90%;
  background-color: gainsboro;
  margin: auto;
}
