.homeBackground{
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 243, 245);
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    /* color: rgb(0, 0, 57); */
}

body::-webkit-scrollbar {
    display: none;
}

.cart::-webkit-scrollbar {
    display: none;
}