.homeBackground{
    width: 100vw;
    background-color: rgb(241, 243, 245);
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

body::-webkit-scrollbar {
    display: none;
}